<div class="mat-list">
  <mat-list class="reminder-list">
    <h2 class="mat-h2">Reminders</h2>

    <mat-list-item class="reminder-list-item"
      *ngFor="let reminder of reminders$ | async">
      <div id="reminder_{{reminder.id}}"
           class="reminder-list-item-{{reminder.isCompleted ?
           'complete' :
           'incomplete'}}">
        <div *ngIf="reminder.isCompleted;then completedIcon else todoButton"></div>
          <ng-template #completedIcon>
            <button mat-button id="uncomplete_{{reminder.id}}"
              (click)="uncompleteReminder(reminder.id);">
              <mat-icon>done</mat-icon>
            </button>
          </ng-template>
          <ng-template #todoButton>
            <button mat-button id="complete_{{reminder.id}}"
              (click)="completeReminder(reminder.id);">
              <mat-icon>check_circle</mat-icon>
            </button>
          </ng-template>
          <span>{{reminder.value}}</span>
      </div>
    </mat-list-item>
  </mat-list>
</div>

