<div class="scheduled-events-container">
  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav #sidenav mode="over">

      <app-scheduled-event-details class="scheduled-event" #details
                          [isOpen]="sidenav.opened"
                          (closeDetailsEvent)="closeDetails($event)">
      </app-scheduled-event-details>
    </mat-sidenav>

    <mat-sidenav-content class="mat-sidenav-content">
      <div class="scheduled-events-toolbar">
        <button mat-button class="clientui-button" id="addScheduledEventButton"
                (click)="onAddClicked();">
          Add new event
        </button>
        <mat-button-toggle-group name="displayKind" id="displayKind"
                                                    value="List"
                                 (change)="onDisplayKindChanged($event.value);">
          <mat-button-toggle value="List" id="toggleList">List</mat-button-toggle>
          <mat-button-toggle value="Monthly" id="toggleMonthly">Monthly</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="display-scheduled-events-container">
        <app-scheduled-event-display class="display-scheduled-events" #display
                                     [scheduledEvents$]="scheduledEvents$"
                                     [currentDisplayKind]="currentDisplayKind"
                                     (idSelected)="openDetails($event)">
        </app-scheduled-event-display>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

