<div class="scheduled-events-container">
  <div class="scheduled-events-toolbar">
    <button mat-button class="clientui-button" id="addScheduledEventButton"
            (click)="onAddClicked();">
      Add new event
    </button>
  </div>
  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="isDetailsOpen">

      <app-scheduled-event-details class="scheduled-event"
        [detailsId]="detailsId"
        [detailsUpdateSwitch]="detailsUpdateSwitch"
                          (closeDetailsEvent)="closeDetails($event)">
      </app-scheduled-event-details>
    </mat-sidenav>

    <mat-sidenav-content class="mat-sidenav-content">
  <app-scheduled-event-display class="display-scheduled-events"
    [scheduledEvents$]="scheduledEvents$"
                        (idSelected)="openDetails($event)">
  </app-scheduled-event-display>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

